html,body{
    font-family: 'Assistant', sans-serif;
}
.prose h1,
.h1{
    font-family: 'Assistant';
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
}
.prose h2,
.h2{
    font-family: 'Assistant';
    font-size: 32px;
  font-weight: 700;
  line-height: 36px;
}
.prose h3,
.h3{
    font-family: 'Assistant';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}
.prose h4,
.h4{
    font-family: 'Assistant';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.prose h5,
.h5{
    font-family: 'Assistant';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}
.prose h6,
.h6{
    font-family: 'Assistant';
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.prose p,
.body-1{
    font-family: 'Assistant';
    font-size: 18px;
    line-height: 28px;
}