/* UTILS  */

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.col-1-1 {
  width: 100%;
}
.half {
  width: 50%;
}
.full {
  width: 100%;
  height: 100%;
}
.row-1-1 {
  height: 100%;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
/* FLEx !!!!!!! */

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-1{
  flex:1;
}
.flex-strech {
  flex: 1 0 auto;
}
.flex-column {
  flex-direction: column;
}
.drag-handle {
  cursor: move;
  cursor: grab;
}

/* SPACINg */

.ma-0 {
  margin: 0;
}

.ma-1 {
  margin: 2px;
}

.ma-2 {
  margin: 4px;
}

.ma-3 {
  margin: 8px;
}

.ma-4 {
  margin: 16px;
}

.ma-5 {
  margin: 20px;
}

.ma-6 {
  margin: 24px;
}

.ma-16 {
  margin: 64px;
}

.ma-auto {
  margin: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 2px;
  margin-left: 2px;
}

.mx-2 {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-3 {
  margin-right: 8px;
  margin-left: 8px;
}

.mx-4 {
  margin-right: 16px;
  margin-left: 16px;
}

.mx-5 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-6 {
  margin-right: 24px;
  margin-left: 24px;
}

.mx-16 {
  margin-right: 64px;
  margin-left: 64px;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.my-2 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-4 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-16 {
  margin-top: 64px;
  margin-bottom: 64px;
}

.mr-auto {
  margin-right: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 2px;
}

.mr-2 {
  margin-right: 4px;
}

.mr-3 {
  margin-right: 8px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-6 {
  margin-right: 24px;
}

.mr-16 {
  margin-right: 64px;
}

.ml-auto {
  margin-left: auto;
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: 2px;
}

.ml-2 {
  margin-left: 4px;
}

.ml-3 {
  margin-left: 8px;
}

.ml-4 {
  margin-left: 16px;
}

.ml-5 {
  margin-left: 20px;
}

.ml-6 {
  margin-left: 24px;
}

.ml-16 {
  margin-left: 64px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 2px;
}

.mb-2 {
  margin-bottom: 4px;
}

.mb-3 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-16 {
  margin-bottom: 64px;
}
.mt-auto {
  margin-top: auto;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-16 {
  margin-top: 64px;
}

.pa-0 {
  padding: 0;
}

.pa-1 {
  padding: 2px;
}

.pa-2 {
  padding: 4px;
}

.pa-3 {
  padding: 8px;
}

.pa-4 {
  padding: 16px;
}

.pa-5 {
  padding: 20px;
}

.pa-6 {
  padding: 24px;
}

.pa-16 {
  padding: 64px;
}

.pa-auto {
  padding: auto;
}

.px-auto {
  padding-right: auto;
  padding-left: auto;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px-1 {
  padding-right: 2px;
  padding-left: 2px;
}

.px-2 {
  padding-right: 4px;
  padding-left: 4px;
}

.px-3 {
  padding-right: 8px;
  padding-left: 8px;
}

.px-4 {
  padding-right: 16px;
  padding-left: 16px;
}

.px-5 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-6 {
  padding-right: 24px;
  padding-left: 24px;
}

.px-16 {
  padding-right: 64px;
  padding-left: 64px;
}

.py-auto {
  padding-bottom: auto;
  padding-top: auto;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.py-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py-3 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-16 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.pr-auto {
  padding-right: auto;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 2px;
}

.pr-2 {
  padding-right: 4px;
}

.pr-3 {
  padding-right: 8px;
}

.pr-4 {
  padding-right: 16px;
}

.pr-5 {
  padding-right: 20px;
}

.pr-6 {
  padding-right: 24px;
}

.pr-16 {
  padding-right: 64px;
}

.pl-auto {
  padding-left: auto;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 2px;
}

.pl-2 {
  padding-left: 4px;
}

.pl-3 {
  padding-left: 8px;
}

.pl-4 {
  padding-left: 16px;
}

.pl-5 {
  padding-left: 20px;
}

.pl-6 {
  padding-left: 24px;
}

.pl-16 {
  padding-left: 64px;
}

/* TEXT  */

.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}

/* COLORS */
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: $black;
}
.bg-dark-blue {
  background-color: $dark-blue;
}
.bg-blue {
  background-color: $blue;
}

.color-white {
  color: white;
}
.color-black {
  color: $black;
}
.color-blue {
  color: $blue;
}

/* borders */
.dash-border-b {
  border-bottom: 1px dashed #aaa;
}
.dash-border {
  border: 1px dashed #aaa;
}

.border-r-1 {
  border-right: 1px solid;
}

  /* borders */
  
  .ba { border-style: solid; border-width: 1px; }
  .bt { border-top-style: solid; border-top-width: 1px; }
  .br { border-right-style: solid; border-right-width: 1px; }
  .bb { border-bottom-style: solid; border-bottom-width: 1px; }
  .bl { border-left-style: solid; border-left-width: 1px; }
  .bn { border-style: none; border-width: 0; }
  .b--dotted { border-style: dotted; }
  .b--dashed { border-style: dashed; }
  .b--solid {  border-style: solid; }
  .b--none {   border-style: none; }
  
.error {
  color: red;
}

.shake {
  animation: shake 0.2s cubic-bezier(0.19, 0.49, 0.38, 0.79) both;
  animation-iteration-count: 3;
  transform: translateX(0);
}
@keyframes shake {
  25% {
    transform: translateX(-20px);
  }
  75% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.max-width{
  max-width: $max-width;
  margin: auto;
}
.inner-width{
  max-width:$inner-width;
}

.ovh{
  overflow: hidden;
}
.ova{
  overflow: auto;
}

.relative{
  position: relative;
}
.absolute{
  position: absolute;
}
.gap-12{
  gap:12px
}
.fw-700{
  font-weight: 700;
}
.fw-600{
  font-weight: 600;
}
.fs-18{
 font-size: 18px;
}