$baseFontSize : 16;
$black:#191919;
$blue:blue;
$dark-blue:rgb(0, 0, 114);
$max-width:1440px;
$inner-width: 1380px;
@function rem($pixels, $context: $baseFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}


@function px($pixels, $context: $baseFontSize) {
  @return $pixels * 1px;
}

html {
  font-size: $baseFontSize;
  font-size: 1.11vw;
}
body{
  font-size: px($baseFontSize);
}
